<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif;">
    <h2>Password Changed Successfully</h2>
    <p>Hello <%= name %>,</p>
    <p>Your password has been reset successfully.<br> If you didn't request this, please contact support immediately.</p>
    <p>— The Shopie C.E.O</p>
  </body>
</html>
