<!DOCTYPE html>
<html>
  <body style="font-family: Arial, sans-serif;">
    <h2>Welcome to DanteShopie, <%= name %>!</h2>
    <p>
      We’re excited to have you on board. Start exploring amazing products
      and enjoy a seamless online shopping experience.
    </p>
    <p>
      Regards,<br />
      The Shopie C.E.O
    </p>
  </body>
</html>
